<div class="body">
    <div class="container">
        <div class="who">
            <h2 class="text-center mb-5">Who We Are ?</h2>
            <div class="row">
                <div class="col-md-6">
                    <img class="w-100 mb-4" src="../../assets/images/aboutus.jpg" />

                </div>
                <div class="col-md-6">
                    <p>Alex Padel is designed and built in Alexandria Egypt, by Alex Sports Co. for Sports’
                        constructions &
                        Management, in 2021<br><br> All courts are fitted with state–of–the–art Mondo turf and nets to
                        guarantee the
                        best playing experience. Ample spacing, offering the safest environment for out of court play
                    </p>
                </div>
            </div>
        </div>
        <div class="location mt-5">
            <h2 class="text-center mb-5">Our Location</h2>
            <div class="row text-center">

                <div class="gmap_canvas"><iframe width="500" height="500" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=Alex%20Padel%20,%20ALexandria%20,Egypt&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                        href="https://putlocker-is.org"></a><br>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 200px;
                            width: 200px;
                        }
                    </style><a href="https://www.embedgooglemap.net">google embed map</a>
                    <style>
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 20rem;
                            width: 100%;
                            margin-bottom: 2rem;
                        }
                    </style>
                </div>



                <p>Alex Padel is Located at Ring Rd, Qetaa an Nahdah, Amreya 1, Alexandria Governorate<br>
                    (2 mins form Carrefoure City Center)</p>
            </div>
        </div>
    </div>
</div>