<nav class="navbar navbar-expand-lg navbar-light myBg fixed-top">
    <div class="container-fluid ">
        <a class="navbar-brand brand-font ms-4" routerLink="home"><label class="brand-color"> Alex </label> Padel</a>
        <div class="btns">
            <a routerLink="register"  [routerLinkActive]="activeLink"> <button class="btn btn-outline-dark me-2">Register</button></a>
            <a routerLink="login"  [routerLinkActive]="activeLink"> <button class="btn btn-outline-dark">Log in</button></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-font text-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-lg-0 ul-position">
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="activeLink" aria-current="page" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  [routerLinkActive]="activeLink" aria-current="page" routerLink="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link "  [routerLinkActive]="activeLink" aria-current="page" routerLink="gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  [routerLinkActive]="activeLink" aria-current="page" routerLink="tours">Tours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  [routerLinkActive]="activeLink" aria-current="page" routerLink="training">Training</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Contact Us..
                    </a>
                    <ul class="dropdown-menu myBg" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Call us..</a></li>
                        <li><a class="dropdown-item" href="#">whatsapp</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Send a Comment</a></li>
                    </ul>
                </li>


            </ul>

        </div>

    </div>
</nav>


