
<header class="d-flex flex-column align-items-center">
    <div class="container" >
        <div class="myPosition">
            <h2 class="mb-3">General</h2>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="slide px-1 ">
                        <img src="../../assets/images/General 1.jpg">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide px-1">
                        <img src="../../assets/images/General 2.jpg">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide px-1">
                        <img src="../../assets/images/general3.jpg">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide px-1">
                        <img src="../../assets/images/general4.jpg">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide px-1">
                        <img src="../../assets/images/general5.jpg">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide px-1">
                        <img src="../../assets/images/general6.jpg">
                    </div>
                </ng-template>

            </owl-carousel-o>
        </div>

    </div>
    <div class="container">
        <div class="myPosition2">
            <h2 class="mb-3">Arena 1</h2>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="slide px-1 ">
                        <img src="../../assets/images/Arena6.jpg">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide px-1">
                        <img src="../../assets/images/Arena5.jpg">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide px-1">
                        <img src="../../assets/images/Arena4.jpg">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide px-1">
                        <img src="../../assets/images/Arena3.jpg">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide px-1">
                        <img src="../../assets/images/Arena2.jpg">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide px-1">
                        <img src="../../assets/images/Arena1.jpg">
                    </div>
                </ng-template>

            </owl-carousel-o>
        </div>

    </div>


    <div class="container" >
        <div class="myPosition3">
            <h2 class="mb-3">Arena 2</h2>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="slide px-1 ">
                        <img src="../../assets/images/Arena1.jpg">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide px-1">
                        <img src="../../assets/images/Arena2.jpg">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide px-1">
                        <img src="../../assets/images/Arena3.jpg">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide px-1">
                        <img src="../../assets/images/Arena4.jpg">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide px-1">
                        <img src="../../assets/images/Arena5.jpg">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide px-1">
                        <img src="../../assets/images/Arena6.jpg">
                    </div>
                </ng-template>

            </owl-carousel-o>
        </div>

    </div>

</header>