<div class="body">
    <div class="overlay">
        <div class="container">
            <div class="row">



                <div class="col-md-4">
                    <div class="shad position-relative">
                        <img src="assets/images/Guido.jpg" class="w-100" />
                        <div
                            class="shad2 position-absolute top-0 bottom-0 d-flex align-items-center justify-content-center flex-column text-white text-center">
                            <div class="info">
                                <h2>Guido</h2>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, doloribus!</p>
                            </div>
                        </div>
                        

                    </div>
                </div>



                <div class="col-md-4">
                    <div class="shad position-relative">
                        <img src="assets/images/Bahaa.jpg" class="w-100" />
                        <div
                            class="shad2 position-absolute top-0 bottom-0 d-flex align-items-center justify-content-center flex-column text-white text-center">
                            <div class="info">
                                <h2>Guido</h2>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, doloribus!</p>
                            </div>
                        </div>
                        

                    </div>
                </div>


                <div class="col-md-4">
                    <div class="shad position-relative">
                        <img src="assets/images/Karim.jpg" class="w-100" />
                        <div
                            class="shad2 position-absolute top-0 bottom-0 d-flex align-items-center justify-content-center flex-column text-white text-center">
                            <div class="info">
                                <h2>Guido</h2>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, doloribus!</p>
                            </div>
                        </div>
                        

                    </div>
                </div>



            </div>

        </div>
    </div>